extends layout

block content
  h1= title
  p This is #{title}

  button(
    type='button',
    class="btn btn-outline-success",
    onclick="doReduce()"
  ) Press Me
  br
  div(id="reduce") Reduce the value
  br
  script.
    var count=20
    var change=-1
    function doReduce(){
    reducediv = document.getElementById('reduce')
    count += change
    change--
    reducediv.innerHTML=`Count ${count} with change ${change}` 
    }